@{
    ViewBag.Title = "Blow Out";
}

<head>
    <link href="~/Content/MyStyles.css" />
</head>

<div class="jumbotron">
    <img src="~/Content/Images/HeaderPic.jpeg">
    <h1>Welcome to Blow Out!</h1>
    <p class="lead">We blow our competitors out of the water</p>
        <br>
        <p class="lead">"It's easy to play any musical instrument: all you have to do is touch the right key 
    at the right time and the instrument will play itself”.  - Johann Sebastian Bach</p>
</div>